<head>
<style>
.tba_success_checkout{
    background-color: #00d278;
    padding: 15px;
    text-align: center;
    color: white;
    display: table;
    width: 100%;
}
.tba_input_credit{
    display: inline-flex;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.tba_payment_title{
    display: inline-flex;
    text-align: left;
    width: 100%;
}
.tba_accept_credit_type{
    text-align: center;
    margin-bottom: 10px;
}
.tba-no-card{
  float: left;
  margin-top: 5px;
}
.tba-toggle{
  position: relative !important;
  float: right !important;
}
.iconkey-card{
  padding-right: 10%;
}

@media (min-width: 320px) { 
   .tba-toggle {
    margin-top: -12%;
    margin-right: 11%;
  }
}

@media (min-width: 375px) { 
   .tba-toggle {
    margin-top: -10%;
    margin-right: 10%;
  }
}

@media (min-width: 425) { 
   .tba-toggle {
    margin-top: -7%;
    margin-right: 7%;
  }
}

@media (min-width: 520px) { 
   .tba-toggle {
    margin-top: -6%;
    margin-right: 6%;
  }
}
@media (min-width: 620px) { 
   .tba-toggle {
    margin-top: -5%;
    margin-right: 5%;
  }
}

@media (min-width: 680px) { 
   .tba-toggle {
   margin-top: -5%;
    margin-right: 4%;
  }
}
@media (min-width:861){
   .tba-toggle {
    margin-top: -17%;
    margin-right: 16%;
  }
}
@media (min-width: 992px) { 
   .tba-toggle {
    margin-top: -14%;
    margin-right: 11%;
  } 
}
@media (min-width: 1200px){  
   .tba-toggle {
    margin-top: -10%;
    margin-right: 9%;
  }
}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
</style>
</head>
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
   <div class="payment-method-title field choice">
      <input type="radio"
         name="payment[method]"
         class="radio"
         data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
      <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()" style="font-size: larger;"></span></label>
   </div>
   <div class="payment-method-content">
      <!-- ko foreach: getRegion('messages') -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
      <div class="payment-method-billing-address">
         <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
         <!-- ko template: getTemplate() --><!-- /ko -->
         <!--/ko-->
      </div>
      <!--<div data-bind="if: specializationArray() != null && specializationArray().length > 0 ">-->
      <div>
        <div class="tba_success_checkout">
          <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
          <div class="page-title" style="margin: 10px;"><h5>รักษาความปลอดภัยของข้อมูลโดย 2c2p</h3></div>
        </div>

        <div class="tba_accept_credit_type">
          <i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i> <i class="fa fa-cc-mastercard  fa-3x" aria-hidden="true"></i>
        </div>

        <div data-bind="if: specializationArray() != null && specializationArray().length > 0 ">
           <span class="pull-left" style="padding-top: 5px;padding-bottom: 10px;"><b>บัตรที่บันทึกไว้</b></span><br/>
           <span>
             <select name="myCardToken"
                data-bind="options:specializationArray,
                optionsText: 'masked_pan',
                optionsValue: 'p2c2p_id' ,
                optionsCaption: 'ใช้บัตรใหม่',
                value: '0',
                event:{change: tokenChangeEvent},
                attr: {'id': getCode()+'_myCardToken'} " style='width: 100%' />
           </span>
           <br/><br class="tba_hide_and_seek"/>
        </div>
         <form id="2c2p-payment-form" data-bind="visible: true" enctype="application/x-www-form-urlencoded" style="display:block;">
              <span class="tba_hide_and_seek">
                 <select name="payment[countryCardInfo]" style="width: 100%;" data-bind="attr: {'id': getCode() + '_countryCardInfo'}">
                    <option value="TH">ประเทศไทย</option>
                 </select>
              </span>
              <br class="tba_hide_and_seek" /><br class="tba_hide_and_seek" />
              <span class = "tba_hide_and_seek tba_payment_title">ชื่อบนบัตร</span>
              <br class="tba_hide_and_seek"/>
              <div class="tba_hide_and_seek tba_input_credit">
                <input type="text" style="width: 100%;" maxlength="16" placeholder="Credit Holder Name" data-bind="attr: {'id': getCode() + '_holderCardInfos'}">
                <br class="tba_hide_and_seek"/><br class="tba_hide_and_seek"/>
              </div>
              <div class="tba_hide_and_seek tba-no-card" >
                <span class="tba_payment_title">หมายเลขบนบัตร <i class="fa fa-lock fa-1x iconkey-card" aria-hidden="true"></i></span>
              </div>

    
    
    

              <span class = "tba_hide_and_seek_inverse tba_payment_title" style="display:none; width: fit-content; margin-top: 5px; margin-bottom: -5px;">กรุณากรอกหมายเลข CVV เพื่อการยืนยัน</span>
              <div class="field-tooltip tba-toggle">
                <span class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" aria-haspopup="true" aria-expanded="false" role="button"></span>
                <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                  <div class="tba_img_cvv tba_cvv"/></div>
              </div>
                <br/>

              <div class="tba_input_credit">
                <!-- <i class="fa fa-lock fa-1x" aria-hidden="true" style="margin-left: -15px;padding-right: 5px;margin-top: 10px;"></i><br> -->
                <input class="tba_hide_and_seek" type="text" data-encrypt="cardnumber" style="width: 70%;" maxlength="16" placeholder="Credit Card Number">

                <!-- Real - cvv - work -->
                <input type="text" data-encrypt="cvv" name="payment[cvvCardInfo]" style="width: 30%; text-align: center; flex: auto;"maxlength="4" role="presentation" autocomplete="nope" placeholder="CVV"  data-bind="attr: {'id': getCode() + '_cvvCardInfo'}">
              </div>
              <span class = "tba_hide_and_seek tba_payment_title">วันหมดอายุ</span><br/>
              <div class="tba_hide_and_seek tba_input_credit">
                <input type="text" data-encrypt="month" style="width: 50%;" maxlength="2" placeholder="MM">
                <input type="text" data-encrypt="year" style="width: 50%;" maxlength="4" placeholder="YYYY">
              </div>
              <br class="tba_hide_and_seek"/><br class="tba_hide_and_seek"/>
              <input class="tba_hide_and_seek" type="checkbox" name="payment[storeCardInfo]" data-bind="attr: {'id': getCode() + '_storeCardInfo'}" checked><span class = "tba_hide_and_seek">บันทึกบัตรไว้ใช้ครั้งหน้า</span></input>
              <br class="tba_hide_and_seek"/><br class="tba_hide_and_seek"/>
              <input type="hidden" value="" name="payment[myCardToken]" data-bind="attr: {'id': getCode() + '_myCardTokens'}">
              <input type="hidden" value="" name="payment[holderCardInfo]" data-bind="attr: {'id': getCode() + '_holderCardInfo'}">
              <input type="hidden" value="" name="payment[encryptedCardInfo]" data-bind="attr: {'id': getCode() + '_encryptedCardInfo'}" >
              <input type="hidden" value="" name="payment[maskedCardInfo]" data-bind="attr: {'id': getCode() + '_maskedCardInfo'}">
              <input type="hidden" value="" name="payment[expMonthCardInfo]" data-bind="attr: {'id': getCode() + '_expMonthCardInfo'}" >
              <input type="hidden" value="" name="payment[expYearCardInfo]" data-bind="attr: {'id': getCode() + '_expYearCardInfo'}">
              <input type="hidden" value="" name="payment[responseUrl]" data-bind="attr: {'id': getCode() + '_responseUrl'}">
         </form>
         <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
         </div>
      </div>
      <div style="width: 100%;text-align: right;">
           <input type="button"
              name="btn_token_delete"
              class="action primary checkout"
              value="ลบบัตร"
              style='display:none;'
              data-bind="click: removeStoredCard, attr: {'id': getCode() + '_btnTokenDelete'}">
      </div>
      <div class="actions-toolbar">
         <div class="primary">
            <button  class="action primary checkout" type="submit" data-bind="click: placeOrder,attr: {title: $t('Place Order')},
               css: {disabled: !isPlaceOrderActionAllowed()},
               enable: (getCode() == isChecked())"
               disabled >
            <span data-bind="i18n: 'Place Order'"></span>
            </button>
         </div>
      </div>
   </div>
</div>
<div id="responseArea" style="display:none;"></div>