<div class="block-title" style="font-size: x-large; font-weight: 600; display: flex; width: 100%;">
        <strong>สถานะการจัดส่ง</strong>
</div>
<br />

<?php 
    $trackingNumber = $block->getData('trackingNumber');
    if($trackingNumber == "") :
        echo 'ยังไม่ได้ส่ง';
    else : 
?> 
        <a href="<?php echo  'https://ecommerceportal.dhl.com/track/?ref='. $block->getData('trackingNumber'); ?>" target = "_blank">
            <span>
                <?php 
                    echo $trackingNumber;
                ?> 
            </span>
        </a>
<?php 
    endif; 
?>
