<div class="block-title" style="font-size: x-large; font-weight: 600; display: flex; width: 100%; margin-top: 20px;">
        <strong>วันที่จัดส่ง</strong>
</div>
<br />

<?php 
    $shippingDate = $block->getData('shippingDate');
    if($shippingDate == "") :
        echo 'ยังไม่ได้ส่ง';
    else : 
        echo $shippingDate;
    endif; 
?>