<!--@subject จัดส่ง {{var product_name}} สำหรับคําสั่งซื้อหมายเลข #{{var order_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="100%">
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "สวัสดี คุณ"}}, {{var customer_name}}</p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "ขอบคุณที่สั่งซื้อสินค้ากับเว็บไซต์"}} Phoenix Next</p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "สำหรับคำสั่งซื้อหมายเลข"}} #{{var order_id}} {{trans "มี Redemption Code จำนวน"}} {{var product_qty}} {{trans "ชิ้น มีรายละเอียดดังนี้"}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="25%"></td>
                                    <td width="50%">
                                        <table  cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" valign="middle" style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;padding-top: 5px;padding-bottom: 5px; text-align: center;">
                                                        <strong>{{trans "Redemption Code"}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" valign="middle" style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;text-align: center;">
                                                        {{layout handle="email_order_items_product" items=$coupons  area="frontend"}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="25%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "หมายเหตุ การใช้งาน Redemption Code เป็นไปตามกฏระเบียบและข้อตกลงที่ระบุไว้ใน ข้อมูลสินค้า บนเว็บไซต์"}}</p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "หากมีข้อสงสัยสามารถติดต่อเราผ่านทาง Email :"}} <a href="mailto:support@phoenixnext.com" target="_blank" style="color:
                        #1895f5">support@phoenixnext.com</a> {{trans "หรือ"}} <a href="" target="_blank" style="color:
                        #1895f5">{{trans "Facebook Page"}}</a></p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "ขอบคุณค่ะ"}} <br />
                            {{trans "ทีมงาน"}} Phoenix Next
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="middle" style="padding-top: 40px;padding-bottom: 40px;">
                        <div style="border-top: 2px dashed #6a6a6a; height: 1px; width: 75%;"></div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle">
                        <p style="font-size:14px;font-weight:normal;line-height:18px;font-family: Arial;margin: 0;">{{trans "ติดตามหนังสือออกใหม่ Limited Set และโปรโมชั่นต่างๆได้ทาง LINE Offical Account สามารถ Add Friend ได้ด้วยการกดค้นหาหรือคลิก"}} <a href="" style="color: #1895f5" target="_blank">LINE ID: @phoenix_next</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
